<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @invite.email %></h1>
    <p>
      You have been added to <%= @group.name %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
